[user]
        name = AUTHORNAME
        email = AUTHOREMAIL
[core]
	gitproxy = /usr/local/bin/intel-socks-gateway 
	excludesfile = ~/.gitignore_global 
	preloadindex = true
[difftool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/araxiscompare-w.sh -2 \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/araxisgitmerge-w.sh \"$REMOTE\" \"$BASE\" \"$LOCAL\" \"$MERGED\"
	trustExitCode = true
[diff]
        tool = araxis
        # Detect copies as well as renames
        renames = copies
[merge]
        tool = araxis
[color]
        # Use colors in Git commands that are capable of colored output when
        # outputting to the terminal. (This is the default setting in Git ≥ 1.8.4.)
        ui = true
        diff = auto
        status = auto
        branch = auto
[rerere]
        enabled = true
[credential]
        # rely upon ssh-agent through OS X Keychain
    
